.shapka{
    font-size: 3rem;
    color: rgb(41, 82, 68);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px rgb(29, 102, 78);
    box-shadow: 10px 10px 10px 10px rgba(148, 185, 174, 0.767) ;
}